<p>
  <label>Slug</label>
  {{input value=model.slug}}
</p>

<p>
  <label>Madek ID</label>
  {{input value=model.madekId}}
</p>

<p>
  <label>Madek Cover ID</label>
  {{input value=model.madekCoverId}}
</p>

<p>
  <label>Published</label>
  {{input checked=model.published type='checkbox'}}
</p>