.app {
  > .toolbar {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px;
    justify-content: flex-start;

    .left {
      h1 {
        background-color: $yellow;
        font-family: "Helvetica", sans-serif;
        font-size: 24px;
        font-weight: normal;
        margin: 0;
        padding: 3px 6px;

        a {
          text-decoration: none;
        }
      }
    }

    .middle {
      flex-grow: 1;
      padding: 5px 20px;

      input {
        border: 0;
        border-bottom: 2px solid black;
        width: 100%;
        max-width: 300px;

        &:focus {
          outline: 0;
        }
      }
    }

    .right {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          display: inline-block;
          padding: 9px;

          a {
            text-decoration: none;

            &:hover {
              border-bottom: 2px solid $yellow;
            }
          }
        }
      }
    }
  }

  > .content {
    .pane {
      padding: 40px;
      background-color: white;

      &:nth-child(odd) {
        background-color: #eee;
      }

      &.special {
        background-color: $yellow;
      }

      &.image {
        min-height: 500px;
        background-size: cover;
        background-position: center;
      }

      .text {
        max-width: 1000px;
        margin: 0 auto;
        overflow: hidden;

        h2 {
          font-size: 64px;
          font-weight: normal;
        }

        p.subtitle {
          width: 65%;
          float: left;
          font-size: 24px;
          margin: 0;
        }

        p.details {
          margin: 0;
          width: 25%;
          float: right;

          div {
            margin: 5px 0;
            span {
              display: block;
            }
          }
        }

        p.abstract {
          width: 65%;
          margin: 0;
          font-size: 18px;
        }

        video, img {
          width: 100%;
        }
      }
    }
  }

  .footer {
    background-color: $yellow;
    padding: 40px;
  }
}
