<h4>New</h4>

<form {{action 'submit' on='submit'}}>
  {{partial 'admin/forms/person'}}

  <button class="submit" {{action 'create'}}>
    Create
  </button>

  {{#if error}}
    <p class="error">
      {{error}}
    </p>
  {{/if}}
</form>