<div class="app">
  <div class="toolbar">
    <div class="left">
      <h1>{{link-to 'IAD Archive' 'index'}}</h1>
    </div>
    <div class="middle">
      <input type="search" placeholder="Search...">
    </div>
    <div class="right">
      <ul>
        <li>Projects</li>
        <li>Collections</li>
        <li><a href="http://iad.zhdk.ch">IAD Website</a></li>
      </ul>
    </div>
  </div>

  <div class="content">
    {{outlet}}
  </div>

  <div class="footer">
    <ul>
      <li>{{link-to 'Admin' 'admin'}}</li>
    </ul>
  </div>
</div>