<div class="pane special">
  <h2>Featured Collection</h2>
</div>

<div class="pane">
  <h2>Recent Collections</h2>
</div>

<div class="pane">
  <h2>Featured Project</h2>
</div>

<div class="pane">
  <h2>Recent Projects</h2>
</div>