<div class="pane">
  <div class="pane__wrapper">
    <h2 class="pane__title">{{model.year}}</h2>

    {{#each model.projects as |project|}}
      <p>{{link-to project.title 'project' project.slug}}</p>
    {{/each}}
  </div>
</div>